<% include ../partials/header %>
<!-- <div class="container"> -->
	<div class="row">
		<h1 style="text-align: center">Edit <%= space.name %></h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/spaces/<%= space._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="space[name]" value="<%= space.name %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="space[image]" value="<%= space.image %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="space[amenities]" value="<%= space.amenities %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="space[description]" value="<%= space.description %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="space[location]" value="<%= space.location %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="space[credits]" value="<%= space.credits %>">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<a href="/spaces">Go Back</a>
		</div>
		
	</div>
<!-- </div> -->
<% include ../partials/footer %>