<% include ../partials/header %>
<!-- <div class="container"> -->
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Spaces</p>
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= space.image %>">
				<div class="caption-full">
					<h4 class="pull-right"><%= space.amenities %></h4>
					<h4><a><%= space.name %></a></h4>
					<p> <%= space.description %></p>
					<p>
						<em>Submitted by <%= space.author.username %>, <%= moment(space.createdAt).fromNow() %></em>
					</p>
					<% if(currentUser && space.author.id.equals(currentUser._id)) { %>
						<a class="btn btn-xs btn-warning" href="/spaces/<%= space._id %>/edit">Edit</a>
						<form class="delete-form" action="/spaces/<%= space._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/spaces/<%= space._id %>/comments/new">Add a New Comment</a>
				</div>
				<hr>
				<% space.comments.forEach(function(comment) { %>
					<div class="row">
						<div class="col-md-12">
							<strong> <%= comment.author.username %> </strong>
							<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p>
								<%= comment.text %>
							</p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
								<a class="btn btn-xs btn-warning"
								   href="/spaces/<%= space._id %>/comments/<%= comment._id %>/edit">Edit</a>
								<form class="delete-form" action="/spaces/<%= space._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-xs btn-danger" value="Delete">
								</form>
							<% } %>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
<!-- </div> -->

	<script>
		function initMap() {
			var lat = <%= space.lat %>;
			var lng = <%= space.lng %>;
			var center = {lat: lat, lng: lng };
			var map = new google.maps.Map(document.getElementById("map"), {
				zoom: 16,
				center: center,
				scrollwheel: false
			});
			var contentString = `
			  <strong><%= space.name %><br />
			  <%= space.location %></strong>
			  <p><%= space.description %></p>
			`
			var infowindow = new google.maps.InfoWindow({
			  content: contentString
			});
			var marker = new google.maps.Marker({
				position: center,
				map: map
			});
			marker.addListener("click", function() {
			  infowindow.open(map, marker);
			});
		  }
		
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap"></script>

<% include ../partials/footer %>